
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>About Menu</h2>
<table class="table table-bordered">
    <tr>
        <th></th>
        <th></th>
        <th></th>        
    </tr>
    
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>

    </tr>
</table>

